.body1 {
    background: #ebedef;
    text-align: center;
    height: "100px";
    width: "1000px";
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding-top: 0 !important;
}

h2 {
    /* font-family: 'Segoe UI', bold; */
    font-size: 35px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    height: 70px;
    background-color: #fefdff;
}

.form1 {
    display: inline-block;
    align-items: center;
    height: 400px;
    width: 350px;
    box-shadow: 0 0 8px 0 rgba(219, 215, 215, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
}

.text_area {
    margin-bottom: 0px;
    /*Adjusted to 0*/
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    /*remove border-radius*/
}

.text_input {
    margin-top: 1.2rem;
    font-family: 'Montserrat regular';
    font-size: 20px;
    border: none;
    width: 80%;
}

.btn1 {
    margin-top: 28px;
    width: 320px;
    height: 38px;
    border-radius: 30px;
    background: #7972f7;
    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.login {
    display: inline-block;
    background: #FFFFFF;
    width: 434px;
    height: 700px;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
    color: #0E4579;
    font-family: 'Montserrat light';
    font-size: 18px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

form h1 {
    text-align: center;
    background-color: transparent;
    margin-top: -8px;
    margin-left: 10px;
    color: rgb(255, 254, 254);
    width: 230px;
    height: 60px;
    font-size: 20px;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.label {
    font-size: 21px;
    color: #454458;
}