/* Navbar Container - Fixed at the top */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  background-color: #0d254b;
  padding: 5px 20px;
  font-weight: normal;
  color: white;
}

/* Navbar Flexbox Layout */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-container .navbar-brand {
  font-size: 22px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 30px; /* Add margin to separate CRM from other elements */
}

/* Navbar Links */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}

.navbar-left h1 {
  color: white;
}

.nav-link:hover {
  background-color: #ffcc00;
  border-radius: 5px;
  color: rgb(236, 221, 221);
}

/* Profile Dropdown */
.navbardropdown {
  position: relative;
  margin-right: 10px; /*added margin to seperate dropdowns*/
}

.dropdown-toggle {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.dropdown-toggle::after {
  margin-left: 9px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  min-width: 150px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-item:hover {
  background: #0d254b;
  color: white;
}

/* Push content down to prevent overlap */
body {
  padding-top: 30px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .search-bar input {
    width: 150px;
  }

  .navbar-right {
    gap: 10px;
  }
}