/* Reset some default margins/paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 15px;
  font-family: Arial, sans-serif;
  /* background-color: #e8eaeb; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.allform {
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  width: 1300px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 500px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



/* Ribbon effect for the h1 element */
.ribbon {
  position: relative;
  /* Or remove it for default positioning */
  top: -3px;
  /* Adjust as needed */
  height: 45px;
  /* width: auto; */
  left: -545px;
  /* or a positive value */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.allform {
  position: relative;
  /* Add this to ensure the ribbon is positioned correctly */
}


.inputfieldstyle {
  border: none;
  border-Bottom: 2px solid rgb(165, 164, 161);
  outline: none;
  box-Shadow: none;
  padding: 5px 0;
  width: 95%;
  border-Radius: 0px;
}

.requiredinputfieldstyle {
  border: none;
  border-Bottom: 2px solid rgb(243, 185, 78);
  outline: none;
  box-Shadow: none;
  padding: 5px 0;
  width: 95%;
  border-Radius: 0px;
}

.dropdownform {
  height: 30px;
  padding: 0.2rem;
  font-Size: 14px;
  /* border-radius: 6px; */
  border: none;
  border-Bottom: 2px solid rgb(165, 164, 161);

  width: 95%;
  /* border: 2px solid rgb(165, 164, 161); */
}

.requireddropdownform {
  height: 30px;
  border: none;

  border-bottom: 2px solid rgb(243, 185, 78);
  padding: 0.2rem;
  font-Size: 14px;
  width: 95%;
  /* border-radius: 6px; */
}

/* ----------------------------TABLE------------------------ */
.alltablestyle {
  /* margin-Top: 10px; */
  width: 1350px;
  height: auto;
  /* margin-Left: 450px;  */
  /* margin-Right: 450px; */
}

.form-h1 {
  text-align: center;
  background-color: #f5f8fa;
  margin-top: -8px;
  margin-left: 10px;
  color: rgb(255, 254, 254);
  width: 230px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-left: 0px;
  position: relative;
  overflow: hidden;
}

.allcontainer {
  /* margin-top: 60px; */
  max-Width: 100%
}

.createbutton {
  position: absolute;
  top: 80px;
  right: 1320px;
  padding: 5px 2px
}

.table-h1 {
  margin-Top: -200px;
  width: 100%;
  /* min-Height: 500px; */
  height: auto;
  padding: 10px;
  margin-Left: auto;
  margin-Right: auto
}

.h1label {
  background-Color: #0d254b;
  color: white;
  padding: 10px;
  font-Weight: bold;
  justify-content: center;
  display: flex;
}