/* Reset some default margins/paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 15px;
  font-family: Arial, sans-serif;
  background-color: #e0eefa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  position: relative;
  background-color: #ffffff;
  width: 1300px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 530px;
}

form h1 {
  text-align: center;
  background-color: #f5f8fa;
  margin-top: -8px;
  margin-left: 10px;
  color: rgb(255, 254, 254);
  width: 230px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-left: 0px;
  position: relative;
  overflow: hidden;
}

/* Ribbon effect for the h1 element */
.ribbon {
  position: absolute;
  top: 4px;
  left: -20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  z-index: 1;

}

label {
  color: #444649;
  margin-bottom: 10px;
  font-size: 14px;
  white-space: nowrap;
}

Input styles input[type="text"],
input[type="number"],
select.form-select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit button styles */
input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  padding: 8px 50px;
  font-size: 14px;
  border-radius: 4px;
  width: auto;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #143e6c;
}

input {
  border: none;
  border-bottom: 2px solid rgb(133, 132, 130);
  outline: none;
  padding: 5px 0;
  width: 100%;
  border-radius: 0;
}

.input-required {
  border: none;
  border-bottom: 2px solid rgb(243, 185, 78);
  outline: none;
  padding: 5px 0;
  width: 100%;
  border-radius: 0;
}

.input-error {
  color: red;
  font-size: 12px;
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.line-textbox {
  border: none;
  border-bottom: 2px solid rgb(243, 185, 78);
  outline: none;
  padding: 8px;
  font-size: 13px;
  width: 55%;
}

.line-textbox:focus {
  border-bottom: 2px solid blue;
}

/* Adjust spacing between form fields */
.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

select.form-select {
  margin-bottom: 20px;
}

.container {
  margin-top: 50px;
}

/* Adjust the width of the dropdown */
select.form-select {
  width: 55%;
  margin-bottom: 20px;
}

footer {
  height: 130px;
}

.custom-footer {
  background-color: #143e6c;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
}

option.highlighted {
  color: #FF5733;
}